.author-name {
  font-family: 'Old Newspaper';
  font-size: 28px;
}
.author-name > a {
  color: black;
}
.author-name > a:hover {
  color: orange;
}

.author-position {
  font-size: 14px;
  font-style: italic;
  font-weight: bold;
}
