.post-content {
  font-family: 'Old Newspaper';
}

.cover-author-date > a {
  text-decoration: underline;
  color: black;
} .cover-author-date > a:hover {
  color: orange;
}

.article-content::first-letter {
  font-size: 70px;
  line-height: 75%;
}
.article-content {
  font-size: 18px;
}
